<h1>Here is all you need to know about me</h1>

<p>
    My name is<strong>{{me.name}}</strong>.
    I am {{me.age}} years old. I come from {{me.hometown}}, a very nice place in {{me.country}}.
    </p>
{{#if visitor}}
<p>Hello {{visitor.first}} {{visitor.middle}} {{visitor.last}}</p>
{{/if}}

<form action="/user" method="POST">

<input type="text" name="Username"
placeholder="Username" class="form-control">

<input type="number" name="age"
placeholder="How old are you?" class="form-control">

<input type="email" name="email"
placeholder="me@example.com" class="form-control">
<button type="submit" class="btn btn-info">Submit</button>
</form>
